@import "compass/reset";

@mixin clearfix {
    &:after, &:before {
      content: "";
      display: table;
    }
    &:after{
      clear:both;
    }
    *zoom:1;
  } 

  #app{
    #nav{
        position: relative;      
        width: 100%;
        height: 92px;
        background-color: #7828B4;
        span{
          font-family: Optima-ExtraBlack;
          margin-left: 78px;
          margin-right: 149px;
          line-height: 92px;
          font-size: 36px;
          color: white;
          a{
            text-decoration: none;
            color: white;
          }
        }
        i{
          position: absolute;
          top: 42px;
          color: white;
          margin-right: -21px;
          z-index: 9999;
        }
        input[type='text']{
          height: 26px;
          width: 388px;
          border: none;
          border-bottom: 1px solid #FFFFFF;
          background-color: #7828B4;
          outline: none;
          padding-left: 36px;
          z-index: -1;
          font-size: 24px;
        }
        ::placeholder{
          font-family: Roboto-Italic;
          color: rgba(255, 255, 255, 0.5);          
        }
    }
    #a-body{
      background-color: #F2F2F2;
      padding-bottom: 100px;
      position: relative;
      width: 100%;
      // height: 500px;
      // max-height:100%;
      #body-left{
        position: absolute;
        display: inline-block;
        width: 300px;
        height: 550px;
        margin-left: 38px;
        background-color:#EBEBEB;
        .left{
          border-top: 1px solid #D7D7D7;
          padding: 20px 40px;
          margin-bottom: 20px;
          span{
            display: block;
            font-family: Roboto-Bold;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
          }
          select{
            width: 220px;
            height: 40px;
            font-size: 16px;
          }
          input[type="checkbox"]{
            background-color: white;
            &:checked{
              color: RGBA(119, 68, 235, 1.00);
            }
          }
          input[type="date"]{
            display: inline-block;
            width: 169px;
            height: 40px;
            outline: none;
            border: none;
            padding: 0;
            margin-bottom: 5px;     
            font-size: 16px;       
          }
        }
        .date{
            div{
              text-align: right;
              display: inline-block;
              width: 20%;
            }
        }
      }
      #body-right{
        font-family: Roboto-Regular;
        font-weight: bold;
        display: inline-block;     
        height: 100%;
        padding-left: 339px + 50px; 
        margin-top: 24px;
        .tag_tilte{
          display: block;
          margin-bottom: 30px;
          font-size: 24px;
        }
        .num{
          color: #9013FE;
        }
        .tag{
          font-size: Roboto-Italic;
          font-size: 16px;
          margin-top: 100px;
          color: #9013FE;
          padding: 4px 16px 4px 16px;
          border-radius: 100px;
          border: 1px solid #9013FE;
          cursor: pointer;
          &:hover{
            background-color: RGBA(119, 68, 235, 1.00);
            color: white;
          }
        }
        .list{
          margin-top: 40px;
          width: 560px + 220px;
          background-color: #FFFFFF;
          .img{
            display: inline-block;
            background-image: url(../img/1.jpg);
            background-size: 100% 100%;
            width: 220px;
            height: 220px;
            margin-bottom: -20px;
          }
          .context{
            display: inline-block;
            width: calc(100% - 250px);
            padding: 10px;
            h3{
              display: inline-block;
              color: #9013FE;
              font-size: 24px;
            }
            .contact{
              display: inline-block;
              margin-top: 20px;            
              overflow: hidden;
              height: 50px;
              line-height: 25px;
              font-family: Roboto-Regular;
              font-size: 16px;
            }
            .back2{
              font-family: Roboto-Bold;
              margin-top: 20px;            
              font-size: 16px;
            }
            .back3{
              display: inline-block;
              font-family: Roboto-Italic;
              margin-top: 20px;   
              margin-bottom: 10px;   
              background-color: #D7D7D7;
              color: white;
              border-radius: 100px;
              padding: 2px 16px 2px 16px;
              font-size: 16px;
            }
            .fa-map-marker-alt{
              color: black;                                                                 
            }
            .date,.location{
              display: inline-block;
              margin: 10px 0;
              color: #9B9B9B;
              font-size: 16px;
            }
          }
        }
      }
    }
    .page{
      position: absolute;
      margin-top: 24px;
      letter-spacing: -4px;
      left: 300px + 540px;
      text-align: center;      
      bottom: 20px;
      >*{
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 16px;
        background-color: RGBA(255, 255, 255, 1.00);
        color: RGBA(119, 68, 235, 1.00);
        cursor: pointer;
        &:hover{
          background-color: RGBA(119, 68, 235, 1.00);
          color: white;
        }
        &:before{
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }