/* line 5, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/all.scss */
#app #nav {
  position: relative;
  width: 100%;
  height: 92px;
  background-color: #7828B4;
}
/* line 20, ../sass/all.scss */
#app #nav span {
  font-family: Optima-ExtraBlack;
  margin-left: 78px;
  margin-right: 149px;
  line-height: 92px;
  font-size: 36px;
  color: white;
}
/* line 27, ../sass/all.scss */
#app #nav span a {
  text-decoration: none;
  color: white;
}
/* line 32, ../sass/all.scss */
#app #nav i {
  position: absolute;
  top: 42px;
  color: white;
  margin-right: -21px;
  z-index: 9999;
}
/* line 39, ../sass/all.scss */
#app #nav input[type='text'] {
  height: 26px;
  width: 388px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: #7828B4;
  outline: none;
  padding-left: 36px;
  z-index: -1;
  font-size: 24px;
}
/* line 50, ../sass/all.scss */
#app #nav ::placeholder {
  font-family: Roboto-Italic;
  color: rgba(255, 255, 255, 0.5);
}
/* line 55, ../sass/all.scss */
#app #a-body {
  background-color: #F2F2F2;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
}
/* line 62, ../sass/all.scss */
#app #a-body #body-left {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 550px;
  margin-left: 38px;
  background-color: #EBEBEB;
}
/* line 69, ../sass/all.scss */
#app #a-body #body-left .left {
  border-top: 1px solid #D7D7D7;
  padding: 20px 40px;
  margin-bottom: 20px;
}
/* line 73, ../sass/all.scss */
#app #a-body #body-left .left span {
  display: block;
  font-family: Roboto-Bold;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}
/* line 80, ../sass/all.scss */
#app #a-body #body-left .left select {
  width: 220px;
  height: 40px;
  font-size: 16px;
}
/* line 85, ../sass/all.scss */
#app #a-body #body-left .left input[type="checkbox"] {
  background-color: white;
}
/* line 87, ../sass/all.scss */
#app #a-body #body-left .left input[type="checkbox"]:checked {
  color: RGBA(119, 68, 235, 1);
}
/* line 91, ../sass/all.scss */
#app #a-body #body-left .left input[type="date"] {
  display: inline-block;
  width: 169px;
  height: 40px;
  outline: none;
  border: none;
  padding: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
/* line 103, ../sass/all.scss */
#app #a-body #body-left .date div {
  text-align: right;
  display: inline-block;
  width: 20%;
}
/* line 110, ../sass/all.scss */
#app #a-body #body-right {
  font-family: Roboto-Regular;
  font-weight: bold;
  display: inline-block;
  height: 100%;
  padding-left: 389px;
  margin-top: 24px;
}
/* line 117, ../sass/all.scss */
#app #a-body #body-right .tag_tilte {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
}
/* line 122, ../sass/all.scss */
#app #a-body #body-right .num {
  color: #9013FE;
}
/* line 125, ../sass/all.scss */
#app #a-body #body-right .tag {
  font-size: Roboto-Italic;
  font-size: 16px;
  margin-top: 100px;
  color: #9013FE;
  padding: 4px 16px 4px 16px;
  border-radius: 100px;
  border: 1px solid #9013FE;
  cursor: pointer;
}
/* line 134, ../sass/all.scss */
#app #a-body #body-right .tag:hover {
  background-color: RGBA(119, 68, 235, 1);
  color: white;
}
/* line 139, ../sass/all.scss */
#app #a-body #body-right .list {
  margin-top: 40px;
  width: 780px;
  background-color: #FFFFFF;
}
/* line 143, ../sass/all.scss */
#app #a-body #body-right .list .img {
  display: inline-block;
  background-image: url(../img/1.jpg);
  background-size: 100% 100%;
  width: 220px;
  height: 220px;
  margin-bottom: -20px;
}
/* line 151, ../sass/all.scss */
#app #a-body #body-right .list .context {
  display: inline-block;
  width: calc(100% - 250px);
  padding: 10px;
}
/* line 155, ../sass/all.scss */
#app #a-body #body-right .list .context h3 {
  display: inline-block;
  color: #9013FE;
  font-size: 24px;
}
/* line 160, ../sass/all.scss */
#app #a-body #body-right .list .context .contact {
  display: inline-block;
  margin-top: 20px;
  overflow: hidden;
  height: 50px;
  line-height: 25px;
  font-family: Roboto-Regular;
  font-size: 16px;
}
/* line 169, ../sass/all.scss */
#app #a-body #body-right .list .context .back2 {
  font-family: Roboto-Bold;
  margin-top: 20px;
  font-size: 16px;
}
/* line 174, ../sass/all.scss */
#app #a-body #body-right .list .context .back3 {
  display: inline-block;
  font-family: Roboto-Italic;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #D7D7D7;
  color: white;
  border-radius: 100px;
  padding: 2px 16px 2px 16px;
  font-size: 16px;
}
/* line 185, ../sass/all.scss */
#app #a-body #body-right .list .context .fa-map-marker-alt {
  color: black;
}
/* line 188, ../sass/all.scss */
#app #a-body #body-right .list .context .date, #app #a-body #body-right .list .context .location {
  display: inline-block;
  margin: 10px 0;
  color: #9B9B9B;
  font-size: 16px;
}
/* line 198, ../sass/all.scss */
#app .page {
  position: absolute;
  margin-top: 24px;
  letter-spacing: -4px;
  left: 840px;
  text-align: center;
  bottom: 20px;
}
/* line 205, ../sass/all.scss */
#app .page > * {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 16px;
  background-color: RGBA(255, 255, 255, 1);
  color: RGBA(119, 68, 235, 1);
  cursor: pointer;
}
/* line 213, ../sass/all.scss */
#app .page > *:hover {
  background-color: RGBA(119, 68, 235, 1);
  color: white;
}
/* line 217, ../sass/all.scss */
#app .page > *:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
